<div class="flex flex-col items-center">
  <app-header [title]="title"></app-header>

  <app-addclosebutton
    (addCloseClickEvent)="openHideNewTaskForm()"
  ></app-addclosebutton>

  <app-newtaskform
    *ngIf="toOpenNewTaskForm"
    (newTaskFormSubmitEvent)="addTask($event)"
  ></app-newtaskform>

  <app-task
    *ngFor="let task of tasks"
    [task]="task"
    (toggleReminderClickEvent)="toggleReminder(task)"
    (deleteTaskClickEvent)="deleteTask(task)"
  ></app-task>

  <app-footer></app-footer>
</div>
